<style type="text/css">
    body {
        padding-top: 50px;
    }
</style>

<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="AdminNavbarCtrl as adminNavbarCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="main.home">Elf</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="admin.home">Home</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="admin.post.list">Posts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" uib-dropdown is-open="userMenu">
          <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle ng-disabled="disabled">
            {{ adminNavbarCtrl.currentUserEmail }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu">
            <li><a ui-sref="admin.home">Change Password</a></li>
            <li role="separator" class="divider"></li>
            <li><a href ng-click="adminNavbarCtrl.logout()">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>