<div class="row">
    <div class="col-xs-12">
        <div class="text-center">
            <span ng-if="mainPostCtrl.loading">
                <br>
                <i class="fa fa-fw fa-refresh fa-spin fa-3x"></i>
            </span>
        </div>
        <div ng-repeat="(key, item) in mainPostCtrl.posts">
            <span ng-if="item.publish">
                <article>
                    <header>
                        <h2>{{ item.title }}</h2>
                        <p class="lead">{{ item.subtitle }}</p>
                        <div>
                            <span class="post-date">
                            <i class="fa fa-fw fa-calendar"></i>
                            <span class="day">{{ item.createdAt | date }}</span> &nbsp;
                            <i class="fa fa-fw fa-refresh"></i>
                            <span class="month">{{ item.updatedAt | date }}</span>
                            </span>
                        </div>
                    </header>
                    <br>
                    <div>
                        <p>{{ item.content }}</p>
                    </div>
                </article>
            </span>
        </div>
    </div>
</div>